<!-- Start Header -->
<header class="header style1 menu_style1">
  <div class="row expanded align-middle">
    <div class="small-12 columns regular-header">
      <div class="logo-holder">
        <a href="/" class="logolink" title="Bhent Branding Agency">
          <%= image_tag('logo.png', :class => "logoimg logo-dark", :alt => "Bhent Branding Agency") %>
          <%= image_tag('logo_light-top.png', :class => "logoimg logo-light", :alt => "Bhent Branding Agency") %>
      </div>
      <div>
        <a href="#" class="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->