<style id='thb-app-inline-css' type='text/css'>
  .postid-29 .post-gallery.parallax {min-height:vh;}.postid-29 .post-gallery.parallax .parallax_bg {;}.postid-29 .portfolio-title.style2 {;}input[type="submit"],.button,.btn {}@media only screen and (min-width:64.063em) {#mobile-menu.style1 {width:50%;}}.thb-portfolio #portfolio-274.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-274.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-274.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-270.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-270.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-270.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-265.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-265.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-265.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-263.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-263.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-263.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-238.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-238.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-238.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:rgba(225,233,238,0.95);}.thb-portfolio #portfolio-236.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-236.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-236.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:rgba(190,191,205,0.95);}.thb-portfolio #portfolio-234.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-234.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-234.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e2ede6;}.thb-portfolio #portfolio-232.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-232.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-232.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e3dfe6;}.thb-portfolio #portfolio-230.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-230.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-230.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#f8f1ed;}.thb-portfolio #portfolio-228.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-228.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-228.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#dce8ed;}.thb-portfolio #portfolio-226.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-226.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-226.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e3e2e7;}.thb-portfolio #portfolio-224.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-224.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-224.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e2dbd6;}.thb-portfolio #portfolio-64.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-64.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-64.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-60.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-60.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-60.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-62.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-62.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-62.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-57.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-57.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-57.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-55.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-55.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-55.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-52.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-52.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-52.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-49.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-49.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-49.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-47.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-47.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-47.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-45.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-45.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-45.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-43.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-43.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-43.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-41.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-41.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-41.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-39.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-39.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-39.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.page-id-29 #wrapper div[role="main"] {}
</style>
<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>

<div class="blog snap_rows_off thb_row_pagination_off  disable_header_fill-off mm-link-animation-bg-fill color-changing-header- footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <%= render "layouts/shared/logo_header_menu" %>

  <div role="main" class="cf">
   <div class="blog-container page-padding">
    <div class="row masonry-blog pagination-style3" data-count="6">
     <div class="small-12 medium-6 large-4 columns">
        <article itemscope itemtype="http://schema.org/Article" class="post style1 post-255 type-post status-publish format-standard has-post-thumbnail hentry category-interviews tag-exhibition tag-henri-barande tag-monograph tag-saatchi" role="article">
          <figure class="post-gallery">
            <a href="../blog/article/1" rel="bookmark" title="Henri Barande’s Saatchi Gallery exhibition monograph">
              <img width="540" height="290" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/18-540x290.jpg" class="attachment-werkstatt-blog size-werkstatt-blog wp-post-image" alt="18" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/18-540x290.jpg 540w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/18-768x414.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/18-1024x552.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/18.jpg 1300w" sizes="(max-width: 540px) 100vw, 540px" />
            </a>
          </figure>
          <aside class="post-category">
            <a href="../category/interviews/index.html" rel="category tag">Interviews</a>		</aside>
          <header class="post-title entry-header">
            <h4 class="entry-title" itemprop="name headline">
            <a href="/blog/article/1" title="Henri Barande’s Saatchi Gallery exhibition monograph">Henri Barande’s Saatchi Gallery exhibition monograph</a></h4>		
            </header>
          <div class="post-content">
            <p>To mark the first UK show of artist Henri Barande, graphic designer Christoph Stolberg and German studio Schultzschultz have created Henri Barande. Most times, ideacide happens without us even realizing it. A&hellip;</p>
          </div>
          <aside class="post-meta">
            <a href="../author/ftwerkstat/index.html" title="Posts by Ant Eksiler" rel="author">Ant Eksiler</a> on September 23, 2016		
          </aside>
        </article>
      </div>
      <div class="small-12 medium-6 large-4 columns">
      <article itemscope itemtype="http://schema.org/Article" class="post style1 post-253 type-post status-publish format-standard has-post-thumbnail hentry category-interviews tag-books tag-martin-muller tag-specious" role="article">
        <figure class="post-gallery">
          <a href="/blog/article/1" rel="bookmark" title="Martin Müller designs covers for Specious Books">
            <img width="540" height="290" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/17-540x290.jpg" class="attachment-werkstatt-blog size-werkstatt-blog wp-post-image" alt="17" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/17-540x290.jpg 540w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/17-768x414.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/17-1024x552.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/17.jpg 1300w" sizes="(max-width: 540px) 100vw, 540px" />			
          </a>
        </figure>
        <aside class="post-category">
          <a href="../category/interviews/index.html" rel="category tag">Interviews</a>		
          </aside>
        <header class="post-title entry-header">
          <h4 class="entry-title" itemprop="name headline"><a href="/blog/article/1" title="Martin Müller designs covers for Specious Books">Martin Müller designs covers for Specious Books</a></h4>		
        </header>
        <div class="post-content">
          <p>The project was inspired by the dilemma graphic designers and illustrators are so often faced with in commissioned projects – all your efforts won’t heighten the quality of a poorly written book.&hellip;</p>
        </div>
        <aside class="post-meta">
          <a href="../author/ftwerkstat/index.html" title="Posts by Ant Eksiler" rel="author">Ant Eksiler</a> on September 23, 2016		
        </aside>
      </article>
    </div>	
    <!--<div class="small-12 medium-6 large-4 columns">
      <article itemscope itemtype="http://schema.org/Article" class="post style1 post-251 type-post status-publish format-standard has-post-thumbnail hentry category-graphics tag-chaos tag-konglish tag-new-zine tag-ran-park" role="article">
        <figure class="post-gallery">
          <a href="../ran-park-explores-the-chaos-of-konglish-in-a-new-zine/index.html" rel="bookmark" title="Ran Park explores the chaos of &#8220;Konglish&#8221; in a new zine">
            <img width="540" height="290" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/16-540x290.jpg" class="attachment-werkstatt-blog size-werkstatt-blog wp-post-image" alt="16" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/16-540x290.jpg 540w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/16-768x414.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/16-1024x552.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/16.jpg 1300w" sizes="(max-width: 540px) 100vw, 540px" />			
          </a>
        </figure>
        <aside class="post-category">
          <a href="../category/graphics/index.html" rel="category tag">Graphics</a>		
        </aside>
        <header class="post-title entry-header">
          <h4 class="entry-title" itemprop="name headline">
            <a href="../ran-park-explores-the-chaos-of-konglish-in-a-new-zine/index.html" title="Ran Park explores the chaos of &#8220;Konglish&#8221; in a new zine">Ran Park explores the chaos of &#8220;Konglish&#8221; in a new zine
            </a>
          </h4>		
        </header>
        <div class="post-content">
          <p>Konglish is the use of English words, or words derived from English words, in a Korean context. This simple premise was the concept behind Berlin-based designer Ran Park’s zine, Lost In Konglish.&hellip;</p>
        </div>
        <aside class="post-meta">
          <a href="../author/ftwerkstat/index.html" title="Posts by Ant Eksiler" rel="author">Ant Eksiler</a> on September 23, 2016		
        </aside>
      </article>
    </div>	-->
    <!--<div class="small-12 medium-6 large-4 columns">
      <article itemscope itemtype="http://schema.org/Article" class="post style1 post-249 type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-anja-wicki tag-comic tag-illustration tag-sweet" role="article">
        <figure class="post-gallery">
          <a href="../anja-wickis-sarcastically-sweet-comic-illustrations/index.html" rel="bookmark" title="Anja Wicki&#8217;s sarcastically sweet comic illustrations">
            <img width="540" height="290" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/15-540x290.jpg" class="attachment-werkstatt-blog size-werkstatt-blog wp-post-image" alt="15" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/15-540x290.jpg 540w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/15-768x414.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/15-1024x552.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/15.jpg 1300w" sizes="(max-width: 540px) 100vw, 540px" />			
          </a>
        </figure>
        <aside class="post-category">
          <a href="../category/photography/index.html" rel="category tag">Photography</a>		
          </aside>
        <header class="post-title entry-header">
          <h4 class="entry-title" itemprop="name headline"><a href="../anja-wickis-sarcastically-sweet-comic-illustrations/index.html" title="Anja Wicki&#8217;s sarcastically sweet comic illustrations">Anja Wicki&#8217;s sarcastically sweet comic illustrations</a></h4>		
          </header>
        <div class="post-content">
          <p>The work of Swiss illustrator Anja Wicki uses illustrative figures of ironic humour in saturated colour combinations, making her work to sarcastically sweet. Most times, ideacide happens without us even realizing it.&hellip;</p>
        </div>
        <aside class="post-meta">
          <a href="../author/ftwerkstat/index.html" title="Posts by Ant Eksiler" rel="author">Ant Eksiler</a> on September 23, 2016		
        </aside>
      </article>
    </div>-->	
    <!--<div class="small-12 medium-6 large-4 columns">
      <article itemscope itemtype="http://schema.org/Article" class="post style1 post-247 type-post status-publish format-standard has-post-thumbnail hentry category-creativity tag-casper tag-explosive tag-images tag-nymphomaniac" role="article">
        <figure class="post-gallery">
          <a href="../nymphomaniac-photographer-casper-sejersens-explosive-images/index.html" rel="bookmark" title="“Nymphomaniac” photographer Casper Sejersen&#8217;s explosive images">
            <img width="540" height="290" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/14-540x290.jpg" class="attachment-werkstatt-blog size-werkstatt-blog wp-post-image" alt="14" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/14-540x290.jpg 540w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/14-768x414.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/14-1024x552.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/14.jpg 1300w" sizes="(max-width: 540px) 100vw, 540px" />			
          </a>
        </figure>
        <aside class="post-category">
          <a href="../category/creativity/index.html" rel="category tag">Creativity</a>		
        </aside>
        <header class="post-title entry-header">
          <h4 class="entry-title" itemprop="name headline"><a href="../nymphomaniac-photographer-casper-sejersens-explosive-images/index.html" title="“Nymphomaniac” photographer Casper Sejersen&#8217;s explosive images">“Nymphomaniac” photographer Casper Sejersen&#8217;s explosive images</a>
          </h4>		
          </header>
        <div class="post-content">
          <p>There’s something unsettling in the work of photographer Casper Sejersen. In one image, a woman stands serenely in a flimsy creamy yellow dress. Most times, ideacide happens without us even realizing it.&hellip;</p>
        </div>
        <aside class="post-meta">
          <a href="../author/ftwerkstat/index.html" title="Posts by Ant Eksiler" rel="author">Ant Eksiler</a> on September 23, 2016		
        </aside>
      </article>
    </div>	-->

    <!--<div class="small-12 medium-6 large-4 columns">
      <article itemscope itemtype="http://schema.org/Article" class="post style1 post-245 type-post status-publish format-standard has-post-thumbnail hentry category-interviews tag-ace tag-creative tag-fund tag-members tag-tate" role="article">
        <figure class="post-gallery">
          <a href="../we-speak-to-ace-tate-creative-fund-board-members/index.html" rel="bookmark" title="We speak to Ace &#038; Tate Creative Fund Board Members">
            <img width="540" height="290" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/13-540x290.jpg" class="attachment-werkstatt-blog size-werkstatt-blog wp-post-image" alt="13" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/13-540x290.jpg 540w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/13-768x414.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/13-1024x552.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/13.jpg 1300w" sizes="(max-width: 540px) 100vw, 540px" />			
          </a>
        </figure>
        <aside class="post-category">
          <a href="../category/interviews/index.html" rel="category tag">Interviews</a>		
        </aside>
        <header class="post-title entry-header">
          <h4 class="entry-title" itemprop="name headline"><a href="../we-speak-to-ace-tate-creative-fund-board-members/index.html" title="We speak to Ace &#038; Tate Creative Fund Board Members">We speak to Ace &#038; Tate Creative Fund Board Members</a></h4>		
        </header>
        <div class="post-content">
          <p>Way back in April we wrote about the Ace &amp; Tate Creative Fund, a project which aims to support creatives by offering one-off financial grants and the support of a panel of&hellip;</p>
        </div>
        <aside class="post-meta">
          <a href="../author/ftwerkstat/index.html" title="Posts by Ant Eksiler" rel="author">Ant Eksiler</a> on September 23, 2016		
        </aside>
      </article>
    </div>-->
  </div>
   <!-- <div class="row pagination-space">
      <div class="thb-preloader"><svg class="thb-preloader-icon" width="51" height="55" viewBox="0 0 34 38"><path class="preloader-path" stroke="#ef173b" stroke-dasharray="70 32" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path></svg>
    </div>
    </div>-->
  </div>
  </div>
  <!-- End role["main"] -->

</div>